/aurora_auto_clock.log
/aurora_auto_clock_main.log
/Aurora打卡小工具說明.docx
/Build
/config.ini
/duty_dict.py
/experiments
/setup_logger.py
/__pycache__
/history.log
/bell_icon.ico
chromedriver.exe
chromedriver.exe
clock_.mp4
geckodriver.log
geckodriver.exe